<div class="col-lg-12">
  <div class="card">
    <div class="card-header padding-bottom-sm">
      <h3 class="h4 mb-0">Applicatie instellingen</h3>
    </div>
    <div class="card-body pt-0">
      <form class="form-group" (ngSubmit)="onSubmit()">

        <!-- TODO: Add new field for deadline, as in untill when employees can register things. -->
        <!-- TODO: Add new setting 'show' approved thing. Wes does not have any use for this functionality untill he has mroe employees and shit. -->
        <small class="form-text">-- Uren formulier instellingen --</small>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Standaard pauze tijd:</label>
          <div class="col-sm-9">
            <input class="form-control" type="number" [(ngModel)]="settingCache[SettingService.DEFAULT_BREAKTIME]" name="defaultBreaktime"/>
            <small class="form-text">De pauze tijd in dit veld, moet voorkomen in het veld met mogelijke pauze tijden!</small>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Mogelijke pauze tijden:</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" [(ngModel)]="settingCache[SettingService.BREAKTIMES]" name="breakTimes"/>
            <small class="form-text">Plaats tussen elke keuze een komma (,) laat '[' en ']' staan.</small>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Standaard {{environment.locationLabel}}:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.DEFAULT_LOCATION]" name="defaultLocation" class="form-control mb-3">
              <option *ngFor="let location of this.locationService.data" [ngValue]=location.name>{{location.name}}</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Deadline registratie:</label>
          <div class="col-sm-9">
            <input class="form-control" type="number" [(ngModel)]="settingCache[SettingService.DEADLINE_REGISTRATION]" name="defaultBreaktime"/>
            <small class="form-text">De hoeveelheid tijd in uren die men heeft om de gewerkte uren te registreren.</small>
          </div>
        </div>
        <small class="form-text">-- Filter tabel instellingen --</small>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Kolom werknemer zichtbaar:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.TABLE_SHOW_COL_EMPLOYEE]" name="tableShowColEmployee" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Kolom omschrijving zichtbaar:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.TABLE_SHOW_COL_DESCRIPTION]" name="tableShowColDescription" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Kolom {{environment.locationLabel}} zichtbaar:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.TABLE_SHOW_COL_LOCATION]" name="tableShowColLocation" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Kolom accoderen zichtbaar:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.TABLE_SHOW_COL_APPROVED]" name="tableShowColApproved" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>

        <small class="form-text">-- Module instellingen --</small>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Admin kan gebruikers managen:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.ADMIN_MANAGE_USERS]" name="adminManageUsers" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Admin kan tijd registreren:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.ADMIN_REGISTER_TIME]" name="adminRegisterTime" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>
        <div class="row padding-top-sm">
          <label class="col-sm-3 form-control-label">Uurtarief per project:</label>
          <div class="col-sm-9 select">
            <select [(ngModel)]="settingCache[SettingService.ENABLE_LOCATION_DASH_RATE]" name="locationDashRate" class="form-control mb-3">
              <option [ngValue]="true">Ja</option>
              <option [ngValue]="false">Nee</option>
            </select>
          </div>
        </div>

        <small class="form-text">-- Licentie --</small>
        <div class="row padding-top-sm padding-bottom-sm">
          <label class="col-sm-3 form-control-label">Max actieve gebruikers:</label>
          <div class="col-sm-9">
            <input class="form-control" type="number" [(ngModel)]="settingCache[SettingService.MAX_USERS]" name="maxActiveUsers"/>
          </div>
        </div>

        <div class="row padding-top-sm padding-bottom-sm">
          <label class="col-sm-3 form-control-label">Licentie datum:</label>
          <div class="col-sm-9">
            <input class="form-control" type="date" [(ngModel)]="settingCache[SettingService.LICENSE_DATE]" name="licenseDate"/>
          </div>
        </div>

        <div class="form-footer">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">Opslaan</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
