<!-- Sidebar Header-->
<!--<div class="sidebar-header d-flex align-items-center">-->
  <!--    <div class="avatar"><img src="../../../assets/img/wookie_avatar.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
  <!--    <div class="title">-->
  <!--      <h1 class="h5">Welkom</h1>-->
  <!--      <p>{{getSessionFullName()}}</p>-->
  <!--    </div>-->
<!--</div>-->

<!-- Sidebar Navidation Menu items-->
<span class="heading">Menu</span>
<ul class="list-unstyled">
  <!-- Admin menu items -->
  <li *ngIf="stateService.getAdmin() && this.settingCache[SettingService.ADMIN_REGISTER_TIME]"><a (click)="setState(StateService.HOUR_FORM)"><i class="fa fa-pencil"></i>Registreren</a></li>
  <li *ngIf="stateService.getAdmin()"><a [ngClass]="isActiveState(StateService.OVERVIEW_ALL) ? 'active' : null" (click)="setState(StateService.OVERVIEW_ALL)"><i class="fa fa-calendar"></i>Alle registraties</a></li>
  <li *ngIf="stateService.getAdmin()"><a (click)="setState(StateService.DASHBOARD)"><i class="fa fa-area-chart"></i>Dashboard</a></li>
  <li *ngIf="stateService.getAdmin() && this.settingCache[SettingService.ADMIN_MANAGE_USERS]"><a (click)="setState(StateService.MANAGE_USERS)"><i class="fa fa-users"></i>Beheer werknemers</a></li>
  <li *ngIf="stateService.getAdmin()"><a (click)="setState(StateService.ADMIN_LOG)"><i class="fa fa-book"></i>Logboek</a></li>
  <li *ngIf="stateService.getAdmin()"><a class="sidebar-toggle" href="#settingsDropdown" data-toggle="collapse"><i class="fa fa-cogs"></i>Instellingen</a></li>
    <ul id="settingsDropdown" class="list-unstyled collapse" style="background: #1d2124">
      <li *ngIf="stateService.getAdmin()"><a (click)="setState(StateService.MANAGE_LOCATIONS)"><i class="fa fa-building"></i>Locaties</a></li>
      <li *ngIf="stateService.getAdmin()"><a (click)="setState(StateService.MANAGE_SETTINGS)"><i class="fa fa-cog"></i>Applicatie instellingen</a></li>
    </ul>

  <!-- User menu items -->
  <li *ngIf="!stateService.getAdmin()"><a (click)="setState(StateService.HOUR_FORM)"><i class="fa fa-pencil"></i>Registreren</a></li>
  <li *ngIf="!stateService.getAdmin()"><a (click)="setState(StateService.HOUR_OVERVIEW)"><i class="fa fa-bar-chart"></i>Mijn uren</a></li>
  <li><a (click)="setState(StateService.USER_PROFILE)"><i class="fa fa-user"></i>Mijn profiel</a></li>
  <li><a (click)="logout()"><i class="fa fa-arrow-circle-o-left"></i> Uitloggen </a></li>
</ul>
<span class="heading">Overig</span>
<ul class="list-unstyled">
  <li><a href="#" data-toggle="modal" data-target="#about"> <i class="fa fa-info"></i>Over deze applicatie </a></li>
  <li><a href="#" data-toggle="modal" data-target="#contactSupport"><i class="fa fa-exclamation-triangle"></i>Help</a>
  </li>
</ul>
<!-- Sidebar modals-->
<app-modals></app-modals>
