  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
<!--    <div class="avatar"><img src="../../../assets/img/wookie_avatar.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
<!--    <div class="title">-->
<!--      <h1 class="h5">Welkom</h1>-->
<!--      <p>{{getSessionFullName()}}</p>-->
<!--    </div>-->
  </div>

<!-- Sidebar Navidation Menu items-->
  <span class="heading">Menu</span>
  <ul class="list-unstyled">
    <!-- admin menu items -->
    <li *ngIf="stateService.getAdmin()"><a (click)="setState('OVERVIEW_RECENT')"><i class="fa fa-bar-chart"></i>Recente registraties</a></li>
    <li *ngIf="stateService.getAdmin()"><a (click)="setState('OVERVIEW_ALL')"><i class="fa fa-bar-chart"></i>Alle registraties</a></li>
    <li *ngIf="stateService.getAdmin()"><a (click)="setState('MANAGE_USERS')"><i class="fa fa-users"></i>Beheer werknemers</a></li>

    <!-- User menu items -->
    <li *ngIf="!stateService.getAdmin()"><a (click)="setState('HOUR_FORM')"><i class="fa fa-pencil"></i>Registreren</a></li>
    <li *ngIf="!stateService.getAdmin()"><a (click)="setState('HOUR_OVERVIEW')"><i class="fa fa-bar-chart"></i>Mijn uren</a></li>
    <li *ngIf="!stateService.getAdmin()"><a (click)="setState('USER_PROFILE')"><i class="fa fa-user"></i>Mijn profiel</a></li>
    <li><a (click)="logout()" ><i class="fa fa-arrow-circle-o-left"></i> Uitloggen </a></li>
  </ul>
  <span class="heading">Overig</span>
  <ul class="list-unstyled">
    <li><a href="#" data-toggle="modal" data-target="#about"> <i class="fa fa-info"></i>Over deze applicatie </a></li>
    <li><a href="#" data-toggle="modal" data-target="#contactSupport"><i class="fa fa-exclamation-triangle"></i>Help</a></li>
  </ul>
<!-- Sidebar modals-->
<app-modals></app-modals>
