<div class="modal-dialog">

  <!-- Pop-up content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">SHIT WORKS?</h4>
    </div>
    <div class="modal-body">
      <p>Welkom bij de urenregistratie applicatie van Lucacatering.<br/>
        Deze applicatie biedt Lucacatering zijn werknemers de mogelijkheid
        om de gewerkte uren met gemak te registeren. Heeft u feedback of een suggestie ?<br/>
        <br/>
        Stuur dan een mail naar de ontwikkelaar:<br/>
        <a href="mailto:j.wieringen@gmail.com" target="_top">j.wieringen@gmail.com</a><br/>
        <br/>
        Applicatie versie: Alpha 0.5<br/>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">SHIT DONE?</button>
    </div>
  </div>
</div>




<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Uren van X wijzigen</h4>-->
<!--        <p>Wijzig hier de data geregistreerd op: X</p>-->
<!--      </div>-->

<!--      <div class="modal-body">-->
<!--        <form>-->
<!--          <div class="form-group">-->
<!--            <label class="form-control-label">Datum</label>-->
<!--            <input [(ngModel)]="this.time.date" name="date" type="date" placeholder="Datum" class="form-control">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="form-control-label">Begintijd</label>-->
<!--            <input [(ngModel)]="this.time.startTime" name="startTime" type="time"  placeholder="Tijd" class="form-control">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="form-control-label">Eindtijd</label>-->
<!--            <input [(ngModel)]="this.time.stopTime" name="stopTime" type="time"  placeholder="Tijd" class="form-control" >-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="col-sm-3 form-control-label">Pauze</label>-->
<!--            <div class="col-sm-9 select">-->
<!--              <select [(ngModel)]="this.time.break" name="break" class="form-control mb-3">-->
<!--                <option *ngFor="let breaktime of breaktimes" value="{{breaktime}}" [ngValue]="breaktime">{{getBreakName(breaktime)}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="col-sm-3 form-control-label">Locatie</label>-->
<!--            <div class="col-sm-9 select">-->
<!--              <select [(ngModel)]="this.time.location" name="location" class="form-control mb-3">-->
<!--                <option [ngValue]="'Luca Catering'">Luca catering</option>-->
<!--                <option [ngValue]="'DKA'">DKA</option>-->
<!--                <option [ngValue]="'Extern'">Extern (invullen bij omschrijving)</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="form-control-label">Omschrijving</label>-->
<!--            <input [(ngModel)]="this.time.description" type="text" name="description" placeholder="(optioneel)" class="form-control">-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <input (click)="submitTime()" type="submit" value="Registreren" class="btn btn-primary">-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->

<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuleren</button>-->
<!--        <input (click)="submitTime()" type="submit" value="Opslaan" class="btn btn-primary">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


