<div class="login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex justify-content-center align-items-center"> <!-- TODO: Center logo -->
            <div class="d-flex justify-content-center align-items-center-center">
              <img src="../../assets/img/company-logo.png" class="img-fluid"/>
            </div>
          </div>
        </div>
        <!-- Form Panel -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form #loginform="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="username" class="label-material">Gebruikersnaam</label>
                  <input [(ngModel)]="user.email" #username="ngModel" name="username" id="username" type="text" class="form-control input-material" required minlength="3" #spy>
                  <!-- Error messages -->
                  <div class="alert-text">
                    <div *ngIf="username.invalid && username.touched" class="shakeIt">
                      <div *ngIf="username.errors.minlength">
                        Gebruikersnaam moet minimaal 3 karakters zijn.
                      </div>
                    </div>
                    <div *ngIf="username.invalid && loginform.submitted" class="shakeIt">
                      <div *ngIf="username.errors.required">
                        Dit veld mag niet leeg zijn.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password" class="label-material">Wachtwoord</label>
                  <input [(ngModel)]="user.password" #password="ngModel" name="password" type="password" class="form-control input-material" id="password" required>

                  <!-- Error messages -->
                  <div class="alert-text">
                    <div *ngIf="password.invalid && loginform.submitted">
                      <div *ngIf="password.errors.required" class="shakeIt">
                        Dit veld mag niet leeg zijn.
                      </div>
                    </div>
                    <div *ngIf="!this.authenticated && loginform.valid" class="shakeIt">
                      <p [textContent]="this.message"></p>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Inloggen</button>
                <div class="float-right margin-top-sm">
                  <input id="persistentLogin" type="checkbox" class="mr-1" name="persistentLogin" [(ngModel)]="persistentLogin">
                  <label for="persistentLogin" class="label-material">Hou mij ingelogd.</label>
                </div>
              </form>
<!--                <a href="#" class="forgot-pass">Wachtwoord vergeten ?</a><br>  &lt;!&ndash; TODO: Implement something for forgotten passwords &ndash;&gt;-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p class="no-margin-bottom"><small>2019 &copy; Software by <a href="http://lucacatering.nl">Nix4Nix</a>. Powered by <a href="https://angular.io">Angular</a>. Design by <a href="https://bootstrapious.com">Bootstrapious</a>.</small></p>
  </div>
</div>
