<div class="col-lg-6 centerCol6">
  <div class="block">
    <div class="title"><strong class="d-block">Mijn Profiel</strong><span class="d-block"></span></div>
    <div class="block-body">

      <form (ngSubmit)="submitProfile()">
<!--        <div class="form-group">-->
<!--          <label for="username" class="form-control-label">Gebruikersnaam</label>-->
<!--          <input [(ngModel)]="this.formUser.username" #username="ngModel" type="text" id="username" name="username"-->
<!--                 class="form-control" placeholder="- invullen indien wijzigen wenselijk is -">-->
<!--        </div>-->

        <div class="form-group">
          <label for="email" class="form-control-label">Email</label>
          <input [(ngModel)]="this.formUser.email" #email="ngModel" type="text" id="email" name="email"
                 class="form-control">
        </div>

        <div class="form-group">
          <label for="name" class="form-control-label">Voornaam</label>
          <input [(ngModel)]="this.formUser.name" #name="ngModel" type="text" id="name" name="name"
                 class="form-control">
        </div>

        <div class="form-group">
          <label for="middleName" class="form-control-label">Tussenvoegsel</label>
          <input [(ngModel)]="this.formUser.middleName" #middleName="ngModel" type="text" id="middleName"
                 name="middleName" class="form-control">
        </div>

        <div class="form-group">
          <label for="lastName" class="form-control-label">Achternaam</label>
          <input [(ngModel)]="this.formUser.lastName" #lastName="ngModel" type="text" id="lastName" name="lastName"
                 class="form-control">
        </div>

        <div class="form-footer">
          <div class="btn-group">
            <button class="btn btn-primary" type="submit">Opslaan</button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changePasswordModal">
              Wachtwoord wijzigen
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="changePasswordModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Pop-up content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wachtwoord wijzigen</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="password" class="form-control-label">Wachtwoord</label>
            <input [(ngModel)]="this.newPassword" #password="ngModel" [type]="this.hidePw ? 'password' : 'text'"
                   id="password" name="password" class="form-control">
            <span class="float-right"><i [class]="this.hidePw ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"
                                         (click)="this.toggleShowPw()"></i></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#changePasswordModal"
                  (click)="this.changePassword()">Opslaan
          </button>
          <button type="button"
                  class="btn btn-secondary"
                  (click)="this.setGeneratedPassword()">Willekeurig wachtwoord
          </button>
          <button type="button"
                  class="btn btn-warning"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#changePasswordModal">Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

