<!-- header -->
<app-header></app-header>

<div class="d-flex align-items-stretch">
  <!-- menu -->
  <nav id="sidebar">
    <app-menu></app-menu>
  </nav>


  <!-- content -->
  <div class="page-content">
    <!-- page header -->
    <div class="page-header"> <!-- TODO: Move to separate component? -->
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Admin</h2>
      </div>
    </div>

    <div *ngIf="state == 'OVERVIEW'">
      <app-hour-table></app-hour-table>
    </div>
    <div *ngIf="state == 'MANAGE_USERS'">
      <app-manage-users></app-manage-users>
    </div>

    <app-footer></app-footer>
  </div>
</div>

