<!-- header -->
<app-header></app-header>

<div class="d-flex align-items-stretch">
  <!-- menu -->
  <nav id="sidebar">
    <app-menu></app-menu>
  </nav>
  <app-modals></app-modals>

  <!-- content -->
  <div class="page-content">

    <!-- page header -->
    <div class="page-header"> <!-- TODO: Move to separate component? -->
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Home</h2>
      </div>
    </div>

    <app-hour-table></app-hour-table>
    <app-footer></app-footer>
  </div>
</div>

