<!-- header -->
<app-header></app-header>

<div class="d-flex align-items-stretch">
  <!-- menu -->
  <nav id="sidebar">
    <app-menu></app-menu>
  </nav>

  <!-- content -->
  <div class="page-content">
    <!-- page header -->
<!--    <div class="page-header">-->
<!--      <div class="container-fluid">-->
<!--        <h2 class="h5 no-margin-bottom">Admin</h2>-->
<!--      </div>-->
<!--    </div>-->

    <app-hour-all-table-admin *ngIf="state == 'OVERVIEW_ALL'"></app-hour-all-table-admin>
    <app-dashboard-admin *ngIf="state == 'DASHBOARD'"></app-dashboard-admin>
    <app-manage-users *ngIf="state == 'MANAGE_USERS'"></app-manage-users>
    <app-admin-log *ngIf="state == 'ADMIN_LOG'"></app-admin-log>

    <app-footer></app-footer>
  </div>
</div>

