<section class="no-padding-bottom">
  <div class="col-lg-6 centerCol6">
    <div class="block">
      <div class="title"><strong class="d-block">Uren registreren</strong><span class="d-block"></span></div>
      <div class="block-body">
        <form>
          <div class="form-group">
            <label class="form-control-label">Datum</label>
            <input [(ngModel)]="this.time.date" name="date" type="date" placeholder="Datum" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-control-label">Begintijd</label>
            <input [(ngModel)]="this.time.startTime" name="startTime" type="time"  placeholder="Tijd" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-control-label">Eindtijd</label>
            <input [(ngModel)]="this.time.stopTime" name="stopTime" type="time"  placeholder="Tijd" class="form-control" >
          </div>
          <div class="form-group">
            <label class="col-sm-3 form-control-label">Pauze</label>
            <div class="col-sm-9 select">
              <select [(ngModel)]="this.time.break" name="break" class="form-control mb-3">
                <option *ngFor="let breaktime of breaktimes" value="{{breaktime}}" [ngValue]="breaktime">{{getBreakName(breaktime)}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 form-control-label">Locatie</label>
            <div class="col-sm-9 select">
              <select [(ngModel)]="this.time.location" name="location" class="form-control mb-3">
                <option [ngValue]="'Luca Catering'">Luca catering</option>
                <option [ngValue]="'DKA'">DKA</option>
                <option [ngValue]="'Extern'">Extern (invullen bij omschrijving)</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label">Omschrijving</label>
            <input [(ngModel)]="this.time.description" type="text" name="description" placeholder="(optioneel)" class="form-control">
          </div>

          <div class="form-group">
            <input (click)="submitTime()" type="submit" value="Registreren" class="btn btn-primary">
          </div>
          <!-- TODO: REMOVE AFTER TESTING -->
          <p>Test data time object en times array</p>
          <p>datum: {{this.time.date}}</p>
          <p>starttijd: {{this.time.startTime}}</p>
          <p>stoptijd: {{this.time.stopTime}}</p>
          <p>pauze?: {{this.time.break}}</p>
          <p>locatie: {{this.time.location}}</p>
          <p>omschrijving: {{this.time.description}}</p>
          <p>Aantal time objecten in array: {{this.timeService.allTimes.length}}</p>
        </form>
      </div>
    </div>
  </div>
</section>
