<!-- Sidebar Navigation-->

  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
<!--    <div class="avatar"><img src="../../../assets/img/wookie_avatar.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
    <div class="title">
      <h1 class="h5">Ingelogt als ...</h1>
      <p>Rol</p>
    </div>
  </div>

<!-- Sidebar Navidation Menu items-->
  <span class="heading">Menu</span>
  <ul class="list-unstyled">
    <li><a (click)="setState('OVERVIEW')"> <i class="fa fa-bar-chart"></i>Overzicht </a></li>
    <div *ngIf="stateService.getAdmin()">
      <li><a (click)="setState('MANAGE_USERS')"> <i class="icon-controls"></i>Beheer gebruikers </a></li>
    </div>
    <div *ngIf="!stateService.getAdmin()">
      <li><a> <i class="icon-controls"></i>Mijn uren </a></li>
    </div>
<!--    <li><a href="#"> <i class="icon-controls"></i>Mijn gegevens </a></li>-->
<!--    <li><a href="#employees" aria-expanded="false" data-toggle="collapse"> <i-->
<!--      class="icon-user-1"></i>Medewerkers </a>-->
<!--      <ul id="employees" class="collapse list-unstyled ">-->
<!--        &lt;!&ndash; place holder &ndash;&gt;-->
<!--        <li *ngFor="let user of users">-->
<!--          <a>{{ user.fullName }}</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
    <li><a href="login.html"> <i class="icon-logout"></i>Uitloggen </a></li>
  </ul>
  <span class="heading">Overig</span>
  <ul class="list-unstyled">
    <li><a href="#" data-toggle="modal" data-target="#about"> <i class="icon-info"></i>Over deze applicatie </a></li>
    <li><a href="#" data-toggle="modal" data-target="#contactSupport"><i class="icon-paper-and-pencil"></i>Help</a></li>
  </ul>
<!-- Sidebar modals-->
<app-modals></app-modals>
