<!-- Sidebar Navigation-->

  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="../../../assets/img/wookie_avatar.jpg" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h5">Nick van Wieringen</h1>
      <p>Beheerder</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
<span class="heading">Menu</span>
  <ul class="list-unstyled">
    <li class="active"><a href="home.html"> <i class="fa fa-bar-chart"></i>Home </a></li>
    <li><a href="clientManagement.html"> <i class="icon-controls"></i>Beheer gebruikers </a></li>
    <li><a href="#employees" aria-expanded="false" data-toggle="collapse"> <i
      class="icon-user-1"></i>Medewerkers </a>
      <ul id="employees" class="collapse list-unstyled ">
        <li *ngFor="let user of users">
          <a href="#">{{ user.fullName }}</a>
        </li>
      </ul>
    </li>
    <li><a href="login.html"> <i class="icon-logout"></i>Uitloggen </a></li>
  </ul>
  <span class="heading">Overig</span>
  <ul class="list-unstyled">
    <li><a href="#" data-toggle="modal" data-target="#about"> <i class="icon-info"></i>Over deze applicatie </a></li>
    <li><a href="#" data-toggle="modal" data-target="#contactSupport"><i class="icon-paper-and-pencil"></i>Help</a></li>
  </ul>

<!-- Sidebar Navigation end-->
