<section class="no-padding-bottom">
  <div class="col-lg-12">
    <div class="block">
      <div class="title"><strong>Logboek</strong></div>
      <div class="table-responsive">
        <table class="table table-sm" *ngIf="this.logData.length > 0">
          <thead>
          <tr>
            <th class="form-control-label">Datum/Tijd</th>
            <th class="form-control-label">Omschrijving</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of this.logData" class="htable-text">
            <td>{{data.createdAt}}</td>
            <td>{{data.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
