<!-- header -->
<app-header></app-header>

<div class="d-flex align-items-stretch">
  <!-- menu -->
  <nav id="sidebar">
    <app-menu></app-menu>
  </nav>

  <!-- content -->
  <div class="page-content">

    <!-- page header -->
<!--    <div class="page-header">-->
<!--      <div class="container-fluid">-->
<!--        <h2 class="h5 no-margin-bottom">Home</h2>-->
<!--      </div>-->
<!--    </div>-->

    <app-hour-form *ngIf="state == 'HOUR_FORM'"></app-hour-form>
    <app-hour-table *ngIf="state == 'HOUR_FORM'"></app-hour-table>
    <app-hour-table-total *ngIf="state == 'HOUR_OVERVIEW'"></app-hour-table-total>
    <app-user-profile *ngIf="state == 'USER_PROFILE'"></app-user-profile>
    <app-footer></app-footer>
  </div>
</div>

